<label class="label">{{ property.desc }}</label>
<div class="control">
  <input class="input" type="number" placeholder="{{ property.desc }}" name="{{ property.name }}" value="{{ property.old ?? property.value }}">
</div>