<label class="label">{{ property.desc }}{% if property.required %} <span class="required">*</span>{% endif %}</label>
<div class="control">
  <div class="select is-multiple">
    <select multiple size="6" name="{{ property.name }}[]">
      <option value="pl">Poland</option>
      <option value="de">Deutsch</option>
      <option value="en">English</option>
    </select>
  </div>
</div>
{%- if property.errors %}
{%- for error in property.errors %}
<p class="help is-danger">{{ error }}</p>
{%- endfor %}
{%- endif %}