{% extends 'layouts/page.twig' %}

{% set title = 'Homepage' %}

{% block seo %}
<link rel="canonical" href="{{ base_url }}">
{% endblock %}

{% block header %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Slim 4 Letterhead App</h1>
  </div>
</section>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<p>A simple app with DDD architecture.</p>
<a href="{{ url_for('admin') }}" class="button">Go to Dashboard</a>
{% endblock %}