{% extends 'layouts/base.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <div class="content">
    {% include "includes/flash.twig" %}
    {% block content %}{% endblock %}
    </div>
  </div>
</section>
{% endblock %}